@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<!-- 📐 Copied from https://www.youtube.com/watch?v=4J37tgZ1Qmo&list=PLEN7Jv6asIPpQ5H441YAGiXh7hLTNzcDz&index=3 -->
	<div class="vitals">
		<p>🔝@scorer.MaxSession.ToString("F2")</p><!-- best score overall -->
		<p>📐@scorer.MaxThisRun.ToString("F2")</p><!-- best score this run -->
	</div>

	<div class="instructions">
		<p>@scorer.Instructions</p>
	</div>

	<div class="healthbar">
		<div class="container">
			<div class="fill" style="width: @(health.PositionHealth)%"></div>
			<p>❤️@health.PositionHealth</p>
		</div>
	</div>

	<UiLeaderboard></UiLeaderboard>
</root>

@code
{
	[Property] Scores scorer { get; set; }
	[Property] Health health { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(scorer.MaxThisRun, scorer.Instructions, health.PositionHealth);
}
